<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/_layout">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Producto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div layout:fragment="content">
    <div class="container mt-4" >
        <h2>Detalles del Producto</h2>
        <a th:href="@{/productos}" class="btn btn-secondary mb-3">Volver a la Lista</a>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="${producto.nombreA}">Nombre del Producto</h5>
                <p class="card-text">
                    <strong>Precio:</strong> <span th:text="'$'+${producto.precioA}"></span><br>
                    <strong>Existencia:</strong> 
                    <span th:if="${producto.existenciaA == 1}" class="text-success">Disponible</span>
                    <span th:if="${producto.existenciaA == 2}" class="text-danger">Agotado</span><br>
                    <strong>Categoría:</strong> <span th:text="${producto.categoriaA.nombre}"></span><br>
                    <th:block th:insert="~{/productos/_image.html}"></th:block>
                                </p>

                <div class="row" th:with="action=${'details'}">
                    <th:block th:insert="~{/productos/_etiquetas.html}"></th:block>
                    
                </div>
                
                <a th:href="@{/productos/edit/{id}(id=${producto.id})}" class="btn btn-warning">Editar</a>
                <a th:href="@{/productos}" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
    </div>
</body>
</html>
