<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layouts/_layout">

<div layout:fragment="content">
  <h1>Editar Marca</h1>

  <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>
  <div th:if="${msg}" class="alert alert-success" role="alert" th:text="${msg}"></div>

  <form th:action="@{/marcas/save}" th:object="${marca}" method="post">
    <input type="hidden" th:field="*{id}" />

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre de la marca" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <textarea class="form-control" th:field="*{descripcion}" id="descripcion" cols="12" rows="3" required></textarea>
        </div>
      </div>
    </div>

    <hr>
    <button type="submit" class="btn btn-primary">Guardar</button> |
    <a th:href="@{/marcas}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>